<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "people">

    <select id="selectPeople" parameterType="int">
        SELECT * FROM people people, pet pet WHERE people.id=#{id} AND pet.owner_id=people.id
    </select>
</mapper>