<?xml version = "1.0" encoding = "UTF-8"?>
<!--

       Copyright 2009-2015 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "shfq.composite_column.Clerk">
    <resultMap id="clerkAddressResultMap" type="shfq.composite_column.ClerkAddress">
        <id column="clerk_street_no" property="streetNo"></id>
        <id column="clerk_house_no" property="houseNo"></id>
        <result column="street_name" property="streetName"></result>
    </resultMap>
    <resultMap id="clerkResultMap" type="shfq.composite_column.Clerk">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <association property="clerkAddress" column="{streetNo=address_street_no,houseNo=address_house_no}" resultMap="compositeColumnsSelect" />
    </resultMap>
    <select id="compositeColumnsSelect" resultMap="clerkAddressResultMap">
        SELECT street_no as clerk_street_no, house_no AS clerk_house_no, street_name FROM clert_address where street_no=#{streetNo} and house_no=#{houseNo}
    </select>

    <!--<resultMap id="clerkResultMap" type="shfq.composite_column.Clerk">-->
        <!--<id column="id" property="id"></id>-->
        <!--<result column="name" property="name"></result>-->
        <!--<association property="clerkAddress" resultMap="clerkAddressResultMap" />-->
    <!--</resultMap>-->

    <select id="selectClerk" parameterType="int" resultMap="clerkResultMap">
        SELECT clerk.id, clerk.name, clerk.street_no as clerk_street_no, clerk.house_no as clerk_house_no, address.street_no as address_street_no, address.house_no as address_house_no, address.street_name from clerk clerk, clerk_address address WHERE clerk.id=#{id} and clerk.street_no=address.street_no and clerk.house_no=address.house_no
    </select>
</mapper>